{
  "extends": ["airbnb", "airbnb/hooks"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "linebreak-style": 0,
    "no-multiple-empty-lines": ["error", { "max": 2 }],
    "react/react-in-jsx-scope": 0
  },
  "globals": {
    "test": true,
    "expect": true
  }
}